{% extends "layout.html" %}

{% block title %}Sobre la Aplicación - ODS Insight{% endblock %}

{% block content %}
<div class="container">
    <h1 class="my-4">Sobre la Aplicación</h1>
    <p>ODS Insight es una herramienta creada para analizar opiniones ciudadanas y relacionarlas con los Objetivos de Desarrollo Sostenible (ODS). La aplicación tiene como objetivo ayudar a organizaciones y usuarios a comprender cómo las opiniones pueden reflejarse en los objetivos globales, tales como:</p>

    <ul>
        <li><strong>ODS 3:</strong> Salud y bienestar</li>
        <li><strong>ODS 4:</strong> Educación de calidad</li>
        <li><strong>ODS 5:</strong> Igualdad de género</li>
    </ul>

    <h3>¿Cómo funciona?</h3>
    <p>La aplicación utiliza modelos de analítica de textos para analizar automáticamente el contenido de las opiniones ingresadas y proporcionar una relación con los ODS. El sistema es capaz de identificar patrones clave en los textos que permiten asociar las opiniones con los objetivos específicos.</p>

    <h3>Impacto en la sociedad</h3>
    <p>ODS Insight puede ayudar a gobiernos, ONG, y otras entidades a entender mejor las preocupaciones y opiniones de los ciudadanos en relación con los ODS, permitiendo una toma de decisiones más informada y alineada con los objetivos globales de desarrollo sostenible.</p>
</div>
{% endblock %}
